@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
}

@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

.carouselWrapperWrap{
  width: 100%;
  overflow: hidden;
  margin-top: 20px; 
}

.carouselWrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 11px;
  align-items: center;
  justify-content: start;
  animation: carousel 40s linear infinite;
}

.item {
  color: #FFF;
  font-family: 'Poppins', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-wrap: nowrap;
  position: relative;
  margin-left: 11px;
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-135%);
  }
}

.hero-bg {
  /* border-radius: 34px 34px 0 0;
  background: linear-gradient(149deg, #FFC096 0%, #FF7395 100%); */
  background: url('../public/hero-bg-og.png');
  background-size: cover;
}

.nav-links {
  color: #FFF;
  font-family: 'Poppins', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  transition: all 0.3s ease-in-out;
  text-shadow: none;
}

.nav-links:hover {
  text-shadow: 2px 2px 0px #000000;
}

.floatee {
  animation: floating 7s infinite;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}

.hero-text {
  color: #FFF;
  font-family: 'Poppins', Helvetica;
  font-size: 110px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}

.line {
  display: block;
  margin-bottom: 0px; /* Adjust this value as needed */
}

/* Button and text styles */
.btn-bg {
  position: relative;
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border: none;
}

.btn-bg:hover {
  border: #000000 solid 2px;
}

.button-text {
  font-family: 'Poppins', Helvetica;
  font-size: 20px;
  font-weight: 800;
  color: #FFC096;
  position: relative;
  z-index: 10;
  transition: color 0.5s ease-in-out;
}

/* Animation layer */
.hover-layer {
  position: absolute;
  background-color: #FFC096;
  right: 100%;
  width: 300%;
  height: 300%;
  top: -100%;
  right: 100%;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.btn-bg:hover .hover-layer {
  top: 0;
  right: 0;
}

.btn-bg:hover .button-text {
  color: white;
}

.home-hand-wave {
  width: 230px;
  height: 230px;
}

.home-red-heart {
  width: 168px;
  height: 153.571px;
}

.home-anonymous-guy {
  width: 211.229px;
  height: 211.229px;
}

@media (min-width: 1281px) {
  .home-hand-wave {
    width: 270px;
    height: 270px;
  }

  .home-red-heart {
    width: 200px;
    height: 193px;
  }

  .home-anonymous-guy {
    width: 241px;
    height: 241px;
  }
}

.hover-git-insta {
  transition: all 0.5s ease-in-out;
}

.hover-git-insta:hover {
  transform: scale(1.2);
}

.scroll-more1 {
  color: #FFF;
  font-family: 'Poppins', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.feedback-text {
  color: #FFF;
  text-align: center;
  font-family: 'Poppins', Helvetica;
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: 134.483%; /* 129.103px */
}

.feedback-subtext {
  color: #FFF;
  text-align: center;
  font-family: 'Poppins', Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 134.483%; /* 64.552px */
}

.feedback-subtext-text {
  color: #FFF;
  transition: all 0.3s ease-in-out;
}

.feedback-subtext-text:hover {
color: #FF7395;
}