@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

@font-face {
  font-family: 'Satoshi Variable';
  src: url('../public/fonts/Satoshi-Variable/Satoshi-Variable.ttf');
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url('../public/fonts/Satoshi-Variable/Satoshi-Medium.ttf');
}

.carouselWrapperWrap{
  width: 100%;
  overflow: hidden;
  margin-top: 20px; 
}

.carouselWrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 11px;
  align-items: center;
  justify-content: start;
  animation: carousel 40s linear infinite;
}

.item {
  color: #FFF;
  font-family: 'Poppins', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-wrap: nowrap;
  position: relative;
  margin-left: 11px;
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-135%);
  }
}

.hero-bg {
  /* border-radius: 34px 34px 0 0;
  background: linear-gradient(149deg, #FFC096 0%, #FF7395 100%); */
  background: url('../public/hero-bg-og.png');
  background-size: cover;
}

.nav-links {
  color: #FFF;
  font-family: 'Poppins', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  transition: all 0.3s ease-in-out;
  text-shadow: none;
}

@media (min-width: 1024px) {
  .nav-links {
    font-size: 20px; /* Example property, modify as needed */
  }
}

/* Media query for screens between 768px and 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .nav-links {
    font-size: 18px; /* Adjust the font size */
  }
}

/* Media query for screens between 640px and 768px */
@media (min-width: 640px) and (max-width: 768px) {
  .nav-links {
    font-size: 14px; /* Adjust the font size */
  }
}

.nav-links:hover {
  text-shadow: 2px 2px 0px #000000;
}

.floatee {
  animation: floating 7s infinite;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}

.floatee2 {
  animation: floating2 5s infinite;
}

@keyframes floating2 {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(5px, 10px); }
  100%   { transform: translate(0px, -0px); }    
}

.floatee3 {
  animation: floating3 6s infinite;
}

@keyframes floating3 {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 20px); }
  100%   { transform: translate(0, -0px); }    
}

.hero-text {
  color: #FFF;
  font-family: 'Poppins', Helvetica;
  font-size: 110px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}

.line {
  display: block;
  margin-bottom: 0px; /* Adjust this value as needed */
}

/* Button and text styles */
.btn-bg {
  position: relative;
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border: none;
}

.btn-bg:hover {
  border: #000000 solid 2px;
}

.button-text {
  font-family: 'Poppins', Helvetica;
  font-size: 20px;
  font-weight: 800;
  color: #FFC096;
  position: relative;
  z-index: 10;
  transition: color 0.5s ease-in-out;
}

/* Animation layer */
.hover-layer {
  position: absolute;
  background-color: #FFC096;
  right: 100%;
  width: 300%;
  height: 300%;
  top: -100%;
  right: 100%;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.btn-bg:hover .hover-layer {
  top: 0;
  right: 0;
}

.btn-bg:hover .button-text {
  color: white;
}

.home-hand-wave {
  width: 230px;
  height: 230px;
}

.home-red-heart {
  width: 168px;
  height: 153.571px;
}

.home-anonymous-guy {
  width: 211.229px;
  height: 211.229px;
}

@media (min-width: 1281px) {
  .home-hand-wave {
    width: 270px;
    height: 270px;
  }

  .home-red-heart {
    width: 200px;
    height: 193px;
  }

  .home-anonymous-guy {
    width: 241px;
    height: 241px;
  }
}

.hover-git-insta {
  transition: all 0.5s ease-in-out;
  width: 27px;
  aspect-ratio: 1/1;
}

.hover-git-insta:hover {
  transform: scale(1.2);
}

@media (min-width: 1024px) {
  .hover-git-insta {
    transition: all 0.5s ease-in-out;
    width: 27px;
    aspect-ratio: 1/1;
  }
  
  .hover-git-insta:hover {
    transform: scale(1.2);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hover-git-insta {
    transition: all 0.5s ease-in-out;
    width: 23px;
    aspect-ratio: 1/1;
  }
  
  .hover-git-insta:hover {
    transform: scale(1.2);
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  .hover-git-insta {
    transition: all 0.5s ease-in-out;
    width: 23px;
    aspect-ratio: 1/1;
  }
  
  .hover-git-insta:hover {
    transform: scale(1.2);
  }
}

.scroll-more1 {
  color: #FFF;
  font-family: 'Poppins', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.feedback-text {
  color: #FFF;
  text-align: center;
  font-family: 'Poppins', Helvetica;
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: 134.483%; /* 129.103px */
}

.feedback-subtext {
  color: #FFF;
  text-align: center;
  font-family: 'Poppins', Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 64.552px */
}

.feedback-subtext-text {
  color: #FFF;
  transition: all 0.3s ease-in-out;
}

.feedback-subtext-text:hover {
color: #FF7395;
}


/* ----------------------------- Anonymous Opinions ------------------------------- */

.anonymous-cloud-img {
  width: 0px;
  height: 0px;
}

@media (min-width: 1281px) {
  .anonymous-cloud-img {
    width: 0px;
    height: 0px;
  }
}

.anonymous-cloud {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 2;
}

.anonymous-grad-hat-img{
  width: 0px;
  height: 0px;
}

@media (min-width: 1281px) {
  .anonymous-grad-hat-img {
    width: 0px;
    height: 0px;
  }
}

.anonymous-grad-hat {
  top: 0;
  left: 0;
  position: absolute;
}

.anonymous-pink-heart-img {
  width: 0px;
  height: 0px;
}

@media (min-width: 1281px) {
  .anonymous-pink-heart-img {
    width: 0px;
    height: 0px;
  }
}

.anonymous-pink-heart {
  top: 0;
  right: 0;
  position: absolute;
}

.subtext1.anonymous-cloud-img {
  width: 286px;
  height: 286px;
}

@media (min-width: 1281px) {
  .subtext1.anonymous-cloud-img {
    width: 426px;
    height: 426px;
  }
}

.subtext1.anonymous-cloud {
  top: -25px;
  right: 39px;
  position: absolute;
  z-index: 2;
}

.subtext1.anonymous-grad-hat-img{
  width: 255px;
  height: 255px;
}

@media (min-width: 1281px) {
  .subtext1.anonymous-grad-hat-img {
    width: 450px;
    height: 450px;
  }
}

.subtext1.anonymous-grad-hat {
  top: 459px;
  left: 16px;
  position: absolute;
}

.subtext1.anonymous-pink-heart-img {
  width: 223.707px;
  height: 223.71px;
}

@media (min-width: 1281px) {
  .subtext1.anonymous-pink-heart-img {
    width: 320px;
    height: 320px;
  }
}

.subtext1.anonymous-pink-heart {
  top: 581px;
  right: 62.82px;
  position: absolute;
}

.anonymous-convo-text {
  color: black;
  text-align: center;
  font-family: 'Poppins', Helvetica;
  font-size: 0px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 2;
  opacity: 0;
}

.anonymous-convo-1 {
  top: 0;
  left: 0;
  position: absolute;
  flex-shrink: 0;
}

.anonymous-convo-1-img {
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
  z-index: 1;
}

.anonymous-convo-1-text {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 13px;
  left: 19px;
}

.anonymous-convo-2 {
  top: 0;
  right: 0;
  position: absolute;
  flex-shrink: 0;
  z-index: 1;
}

.anonymous-convo-2-img {
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
  z-index: 1;
}

.anonymous-convo-2-text {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 14px;
  right: 6.23px;
}

.anonymous-convo-3 {
  top: 0;
  right: 0;
  position: absolute;
  flex-shrink: 0;
}

.anonymous-convo-3-img {
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
  z-index: 1;
}

.anonymous-convo-3-text {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 13px;
  left: 19px;
}

.anonymous-convo-4 {
  top: 0;
  left: 0;
  position: absolute;
  flex-shrink: 0;
}

.anonymous-convo-4-img {
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
  z-index: 1;
}

.anonymous-convo-4-text {
  width: 0px;
  position: absolute;
  top: 14px;
  left: 15px;
}

.subtext1.anonymous-convo-text {
  color: black;
  text-align: center;
  font-family: 'Poppins', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 2;
}

.subtext1.anonymous-convo-1 {
  top: 182px;
  left: 200px;
  position: absolute;
  flex-shrink: 0;
}

.subtext1.anonymous-convo-1-img {
  width: 274px;
  height: 87px;
  top: 0;
  left: 0;
  z-index: 1;
}

.subtext1.anonymous-convo-1-text {
  width: 237px;
  height: 55px;
  position: absolute;
  top: 13px;
  left: 19px;
}

.subtext1.anonymous-convo-2 {
  top: 274px;
  right: 89px;
  position: absolute;
  flex-shrink: 0;
  z-index: 1;
}

.subtext1.anonymous-convo-2-img {
  width: 250px;
  height: 87px;
  top: 0;
  left: 0;
  z-index: 1;
}

.subtext1.anonymous-convo-2-text {
  width: 237px;
  height: 55px;
  position: absolute;
  top: 14px;
  right: 6.23px;
}

.subtext1.anonymous-convo-3 {
  top: 483px;
  right: 15px;
  position: absolute;
  flex-shrink: 0;
}

.subtext1.anonymous-convo-3-img {
  width: 274px;
  height: 109px;
  top: 0;
  left: 0;
  z-index: 1;
}

.subtext1.anonymous-convo-3-text {
  width: 237px;
  height: 71px;
  position: absolute;
  top: 13px;
  left: 19px;
}

.subtext1.anonymous-convo-4 {
  top: 361px;
  left: 35px;
  position: absolute;
  flex-shrink: 0;
}

.subtext1.anonymous-convo-4-img {
  width: 231px;
  height: 87px;
  top: 0;
  left: 0;
  z-index: 1;
}

.subtext1.anonymous-convo-4-text {
  width: 200px;
  position: absolute;
  top: 14px;
  left: 15px;
}

.anonymous-convo-text,
.anonymous-cloud-img,
.anonymous-grad-hat-img,
.anonymous-pink-heart-img,
.anonymous-convo-1-img,
.anonymous-convo-2-img,
.anonymous-convo-3-img,
.anonymous-convo-4-img {
  transition: all 0s ease;
  font-size: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.subtext1.anonymous-convo-text,
.subtext1.anonymous-cloud-img,
.subtext1.anonymous-grad-hat-img,
.subtext1.anonymous-pink-heart-img,
.subtext1.anonymous-convo-1-img,
.subtext1.anonymous-convo-2-img,
.subtext1.anonymous-convo-3-img,
.subtext1.anonymous-convo-4-img {
  transition: all 0.5s ease;
  font-size: 16px;
  opacity: 1;
}

/* ------------------------------------ Workplace Insights ------------------------------------ */

.workplace-like{
  top: 0;
  right: 0;
  position: absolute;
}

.subtext2.workplace-like {
  top: 19px;
  right: 93.82px;
  position: absolute;
}

.workplace-like-img{
  width: 0px;
  height: 0px;
}

.subtext2.workplace-like-img {
  width: 243.18px;
  height: 243.18px;
}

.workplace-rocket {
  top: 0;
  right: 0;
  position: absolute;
}

.subtext2.workplace-rocket {
  top: 394px;
  right: 64.6px;
  position: absolute;
}

.workplace-rocket-img {
  width: 0px;
  height: 0px;
}

.subtext2.workplace-rocket-img {
  width: 263px;
  height: 263px;
}

.workplace-shield {
  top: 0;
  right: 0;
  position: absolute;
}

.subtext2.workplace-shield {
  top: 123px;
  left: 92px;
  width: 293px;
  height: 293px;
  position: absolute;
}

.workplace-shield-img {
  width: 0px;
  height: 0px;
}

.subtext2.workplace-shield-img {
  width: 293px;
  height: 293px;
}

.workplace-briefcase {
  top: 0;
  right: 0;
  position: absolute;
}

.subtext2.workplace-briefcase {
  top: 489px;
  left: -14.3px;
  width: 335px;
  height: 335px;
  position: absolute
}

.workplace-briefcase-img {
  width: 0px;
  height: 0px;
}

.subtext2.workplace-briefcase-img {
  width: 335px;
  height: 335px;
}

.workplace-convo-text {
  color: black;
  text-align: center;
  font-family: 'Poppins', Helvetica;
  font-size: 0px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 2;
  opacity: 0;
}

.subtext2.workplace-convo-text {
  color: black;
  text-align: center;
  font-family: 'Poppins', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 2;
}

.workplace-convo-1 {
  top: 0;
  left: 0;
  position: absolute;
}

.subtext2.workplace-convo-1 {
  top: 79px;
  left: 60px;
  position: absolute;
}

.workplace-convo-1-img {
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}

.subtext2.workplace-convo-1-img {
  width: 250px;
  height: 87px;
  top: 0;
  left: 0;
}

.workplace-convo-1-text {
  width: 0;
}

.subtext2.workplace-convo-1-text {
  width: 216.45px;
  top: 14px;
  left: 16.23px;
  position: absolute;
}

.workplace-convo-2 {
  top: 0;
  right: 0;
  position: absolute;
}

.subtext2.workplace-convo-2 {
  top: 276px;
  right: 191px;
  position: absolute;
}

.workplace-convo-2-img {
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}

.subtext2.workplace-convo-2-img {
  width: 231px;
  height: 87px;
  top: 0;
  left: 0;
}

.workplace-convo-2-text {
  width: 0;
}

.subtext2.workplace-convo-2-text {
  width: 200px;
  top: 14px;
  left: 15px;
  position: absolute;
}

.workplace-convo-3 {
  top: 0;
  right: 0;
  position: absolute;
}

.subtext2.workplace-convo-3 {
  top: 662px;
  right: 78px;
  position: absolute;
}

.workplace-convo-3-img {
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}

.subtext2.workplace-convo-3-img {
  width: 274px;
  height: 109px;
  top: 0;
  left: 0;
}

.workplace-convo-3-text {
  width: 0;
}

.subtext2.workplace-convo-3-text {
  top: 13px;
  left: 13px;
  width: 248px;
  position: absolute;
}

.workplace-convo-4 {
  top: 0;
  left: 0;
  position: absolute;
}

.subtext2.workplace-convo-4 {
  top: 446px;
  left: 101px;
  position: absolute;
}

.workplace-convo-4-img {
  width: 0px;
  height: 0px; 
  top: 0;
  left: 0;
}

.subtext2.workplace-convo-4-img {
  width: 274px;
  height: 109px;
  top: 0;
  left: 0;
}

.workplace-convo-4-text {
  width: 0px;
}

.subtext2.workplace-convo-4-text {
  width: 237px;
  top: 13px;
  left: 19px;
  position: absolute;
}

.workplace-convo-text,
.workplace-like-img,
.workplace-rocket-img,
.workplace-shield-img,
.workplace-briefcase-img,
.workplace-convo-1-img,
.workplace-convo-2-img,
.workplace-convo-3-img,
.workplace-convo-4-img {
  transition: all 0s ease;
  font-size: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.subtext2.workplace-convo-text,
.subtext2.workplace-like-img,
.subtext2.workplace-rocket-img,
.subtext2.workplace-shield-img,
.subtext2.workplace-briefcase-img,
.subtext2.workplace-convo-1-img,
.subtext2.workplace-convo-2-img,
.subtext2.workplace-convo-3-img,
.subtext2.workplace-convo-4-img {
  transition: all 0.5s ease;
  font-size: 16px;
  opacity: 1;
}

/* ---------------------------- Personal Growth ---------------------------------- */

.personal-trophy {
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.subtext3.personal-trophy {
  top: -25px;
  left: 40px;
  width: 326.973px;
  height: 326.973px;
  position: absolute;
}

.personal-trophy-img {
  width: 0;
  height: 0;
}

.subtext3.personal-trophy-img {
  width: 326.973px;
  height: 326.973px;
}

.personal-headphone {
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.subtext3.personal-headphone {
  top: 449px;
  right: 2.77px;
  width: 286.922px;
  height: 286.922px;
  position: absolute;
}

.personal-headphone-img {
  width: 0;
  height: 0;
}

.subtext3.personal-headphone-img {
  width: 286.922px;
  height: 286.922px;
}

.personal-megaphone {
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.subtext3.personal-megaphone {
  top: 8px;
  right: 79px;
  width: 222px;
  height: 222px;
  position: absolute;
}

.personal-megaphone-img {
  width: 0;
  height: 0;
}

.subtext3.personal-megaphone-img {
  width: 222px;
  height: 222px;
}

.personal-convo-1 {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.subtext3.personal-convo-1 {
  top: 341px;
  left: 70px;
  width: 231px;
  height: 87px;
  position: absolute;
}

.personal-convo-1-img {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.subtext3.personal-convo-1-img {
  top: 0;
  left: 0;
  width: 231px;
  height: 87px;
  position: absolute;
}

.personal-convo-1-text {
  top: 14px;
  left: 15px;
  position: absolute;
}

.subtext3.personal-convo-1-text {
  top: 14px;
  left: 15px;
  width: 200px;
  position: absolute;
}

.personal-convo-2 {
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.subtext3.personal-convo-2 {
  top: 268px;
  right: 215.13px;
  width: 233.871px;
  height: 87px;
  position: absolute;
}

.personal-convo-2-img {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.subtext3.personal-convo-2-img {
  top: 0;
  left: 0;
  width: 233.871px;
  height: 87px;
  position: absolute;
}

.personal-convo-2-text {
  top: 0;
  right: 0;
  position: absolute;
}

.subtext3.personal-convo-2-text {
  top: 14px;
  right: 15.19px;
  width: 202.486px;
  position: absolute;
}

.personal-convo-3 {
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.subtext3.personal-convo-3 {
  top: 388px;
  right: 19px;
  width: 244px;
  height: 79px;
  position: absolute;
}

.personal-convo-3-img {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.subtext3.personal-convo-3-img {
  top: 0;
  left: 0;
  width: 244px;
  height: 79px;
  position: absolute;
}

.personal-convo-3-text {
  top: 0;
  left: 0;
  position: absolute;
}

.subtext3.personal-convo-3-text {
  top: 9.42px;
  left: 16.42px;
  width: 211.051px;
  position: absolute;
}

.personal-convo-4 {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.subtext3.personal-convo-4 {
  top: 570px;
  left: 117px;
  width: 236px;
  height: 62px;
  position: absolute;
}

.personal-convo-4-img {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.subtext3.personal-convo-4-img {
  top: 0;
  left: 0;
  width: 236px;
  height: 62px;
  position: absolute;
}

.personal-convo-4-text {
  top: 0;
  left: 0;
  position: absolute;
}

.subtext3.personal-convo-4-text {
  top: 15px;
  left: 24px;
  width: 188px;
  position: absolute;
}

.personal-convo-text {
  color: black;
  text-align: center;
  font-family: 'Poppins', Helvetica;
  font-size: 0px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 2;
  opacity: 0;
}

.subtext3.personal-convo-text {
  color: black;
  text-align: center;
  font-family: 'Poppins', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 2;
}

.personal-convo-text,
.personal-trophy-img,
.personal-headphone-img,
.personal-megaphone-img,
.personal-convo-1-img,
.personal-convo-2-img,
.personal-convo-3-img,
.personal-convo-4-img {
  transition: all 0s ease;
  font-size: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.subtext3.personal-convo-text,
.subtext3.personal-trophy-img,
.subtext3.personal-headphone-img,
.subtext3.personal-megaphone-img,
.subtext3.personal-convo-1-img,
.subtext3.personal-convo-2-img,
.subtext3.personal-convo-3-img,
.subtext3.personal-convo-4-img {
  transition: all 0.5s ease;
  font-size: 16px;
  opacity: 1;
}

/* ---------------------------------- Relationship ---------------------------------- */

.relationship-icecream {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.subtext4.relationship-icecream {
  top: 554px;
  left: 179px;
  width: 180.288px;
  height: 324.277px;
  transform: rotate(18.538deg);
  position: absolute;
}

.relationship-icecream-img {
  width: 0;
  height: 0;
}

.subtext4.relationship-icecream-img {
  width: 180.288px;
  height: 324.277px;
  transform: rotate(18.538deg);
}

.relationship-pink-heart {
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.subtext4.relationship-pink-heart {
  top: 10px;
  right: 61.82px;
  width: 243.179px;
  height: 243.182px;
  position: absolute;
}

.relationship-pink-heart-img {
  width: 0;
  height: 0;
}

.subtext4.relationship-pink-heart-img {
  width: 243.179px;
  height: 243.182px;
}

.relationship-cloud {
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.subtext4.relationship-cloud {
  top: 350px;
  right: -24px;
  width: 351px;
  height: 351px;
  position: absolute;
  z-index: 2;
}

.relationship-cloud-img {
  width: 0;
  height: 0;
}

.subtext4.relationship-cloud-img {
  width: 351px;
  height: 351px;
}

.relationship-convo-1 {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.subtext4.relationship-convo-1 {
  top: 239px;
  left: 81px;
  width: 231px;
  height: 61px;
  position: absolute;
}

.relationship-convo-1-img {
  width: 0;
  height: 0;
}

.subtext4.relationship-convo-1-img {
  width: 231px;
  height: 61px;
}

.relationship-convo-1-text {
  top: 0;
  left: 0;
  position: absolute;
}

.subtext4.relationship-convo-1-text {
  top: 14px;
  left: 15px;
  width: 200px;
  position: absolute;
}

.relationship-convo-2 {
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.subtext4.relationship-convo-2 {
  top: 232px;
  right: 97px;
  width: 244px;
  height: 79px;
  position: absolute;
}

.relationship-convo-2-img {
  width: 0;
  height: 0;
}

.subtext4.relationship-convo-2-img {
  width: 244px;
  height: 79px;
}

.relationship-convo-2-text {
  top: 0;
  right: 0;
  position: absolute;
}

.subtext4.relationship-convo-2-text {
  top: 9.42px;
  right: 16.03px;
  width: 211.051px;
  position: absolute;
}

.relationship-convo-3 {
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.subtext4.relationship-convo-3 {
  top: 591px;
  right: 107px;
  width: 234px;
  height: 63px;
  position: absolute;
  z-index: 1;
}

.relationship-convo-3-img {
  width: 0;
  height: 0;
}

.subtext4.relationship-convo-3-img {
  width: 234px;
  height: 63px;
}

.relationship-convo-3-text {
  top: 0;
  left: 0;
  position: absolute;
}

.subtext4.relationship-convo-3-text {
  top: 14px;
  left: 15.19px;
  width: 202.486px;
  position: absolute;
}

.relationship-convo-4 {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.subtext4.relationship-convo-4 {
  top: 411px;
  left: 123px;
  width: 236px;
  height: 77px;
  position: absolute;
}

.relationship-convo-4-img {
  width: 0;
  height: 0;
}

.subtext4.relationship-convo-4-img {
  width: 236px;
  height: 77px;
}

.relationship-convo-4-text {
  top: 0;
  left: 0;
  position: absolute;
}

.subtext4.relationship-convo-4-text {
  top: 12px;
  left: 24px;
  width: 188px;
  position: absolute;
}

.relationship-convo-text {
  color: black;
  text-align: center;
  font-family: 'Poppins', Helvetica;
  font-size: 0px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 2;
  opacity: 0;
}

.subtext4.relationship-convo-text {
  color: black;
  text-align: center;
  font-family: 'Poppins', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 2;
}

.relationship-convo-text,
.relationship-icecream-img,
.relationship-pink-heart-img,
.relationship-cloud-img,
.relationship-convo-1-img,
.relationship-convo-2-img,
.relationship-convo-3-img,
.relationship-convo-4-img {
  transition: all 0s ease;
  font-size: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.subtext4.relationship-convo-text,
.subtext4.relationship-icecream-img,
.subtext4.relationship-pink-heart-img,
.subtext4.relationship-cloud-img,
.subtext4.relationship-convo-1-img,
.subtext4.relationship-convo-2-img,
.subtext4.relationship-convo-3-img,
.subtext4.relationship-convo-4-img {
  transition: all 0.5s ease;
  font-size: 16px;
  opacity: 1;
}

/* Random stuff started again */

.bottom-bg {
  background: url(../public/home-bottom-sec-bg.png);
  background-size: cover;
  border-radius: 0px 0px 37px 37px;
}

.scroll-more2 {
  color: #000;
  font-family: 'Poppins', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.buzz-text {
  color: #FFF;
  text-align: center;
  font-family: 'Poppins', Helvetica;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 130.913%; /* 125.676px */
  width: 409px;
}

.buzz-text2 {
  color: #FF9695;
  text-align: center;
  font-family: 'Poppins', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130.913%; /* 31.419px */
  transition: all 0.2s ease-in-out;
}

.buzz-text3 {
  color: #FFC096;
  text-align: center;
  font-family: 'Poppins', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130.913%; /* 31.419px */
  transition: all 0.2s ease-in-out;
}

.g-s-btn {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 50px;
  transition: all 0.2s ease-in-out;
}

.g-s-btn-main:hover .buzz-text2{
  transform: translate(0, -81px);
} 

.g-s-btn-main:hover .buzz-text3{
  transform: translate(0, -81px);
} 

.light-bulb-div {
  position: absolute;
  left: 204px;
  top: -35px;
  width: 307.497px;
  height: 307.497px;
}

.light-bulb-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 307.497px;
  height: 307.497px;
}

.phone-div {
  position: absolute;
  top: 300px;
  left: 172px;
  width: 200px;
  height: 256.117px;
}

.phone-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 256.117px;
}

.cam-div {
  position: absolute;
  top: 300px;
  right: 100px;
  width: 270px;
  height: 260.04px;
}

.cam-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  height: 260.04px;
}


.star-div {
  position: absolute;
  top: -30.29px;
  right: 177.64px;
  width: 298px;
  height: 298px;
}

.star-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 298px;
  height: 298px;
}

.footer-txt {
  color: #FFF;
  font-family: 'Poppins', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  transition: all 0.2s ease-in-out;
}

.footer-txt2 {
  color: #FFF;
  font-family: 'Poppins', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

@media (min-width: 1024px) {
  .footer-txt {
    color: #FFF;
    font-family: 'Poppins', Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    transition: all 0.2s ease-in-out;
  }
  .footer-txt2 {
    color: #FFF;
    font-family: 'Poppins', Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .footer-txt {
    color: #FFF;
    font-family: 'Poppins', Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    transition: all 0.2s ease-in-out;
  }
  .footer-txt2 {
    color: #FFF;
    font-family: 'Poppins', Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}

@media (max-width: 768px) {
  .footer-txt {
    color: #FFF;
    font-family: 'Poppins', Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    transition: all 0.2s ease-in-out;
  }
  .footer-txt2 {
    color: #FFF;
    font-family: 'Poppins', Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}

.footer-txt:hover {
  transform: translateY(-5px);
}


.faq-bg {
  border-radius: 37px;
  background: linear-gradient(149deg, #FFC096 0%, #FF7395 100%);
  width: 94.375%;
}

.faq-txt {
  color: #FFF;
  font-family: 'Poppins', Helvetica;
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

@media (min-width: 1024px) {
  .faq-txt {
    color: #FFF;
    font-family: 'Poppins', Helvetica;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}

@media (max-width: 1023px) {
  .faq-txt{
    color: #FFF;
    font-family: 'Poppins', Helvetica;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}

.faq-title {
  color: #FFF;
  font-family: 'Poppins', Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

@media (min-width: 1024px) {
  .faq-title {
    color: #FFF;
    font-family: 'Poppins', Helvetica;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}

@media (max-width: 1023px) {
  .faq-title {
    color: #FFF;
    font-family: 'Poppins', Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}

.faq-ques {
  color: #FFF;
  font-family: 'Poppins', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

@media (min-width: 1024px) {
  .faq-ques {
    color: #FFF;
    font-family: 'Poppins', Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}

@media (max-width: 1023px) {
  .faq-ques {
    color: #FFF;
    font-family: 'Poppins', Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}

.faq-ans {
  color: #FFF;
  font-family: 'Poppins', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 96.50%;
}

@media (min-width: 1024px) {
  .faq-ans {
    color: #FFF;
    font-family: 'Poppins', Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 96.50%;
  }
}

@media (max-width: 1023px) {
  .faq-ans {
    color: #FFF;
    font-family: 'Poppins', Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 96.50%;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gear {
  width: 100px;
  height: 100px;
  animation: rotate 4s linear infinite;
}

.gear img {
  width: 100%;
  height: 100%;
  filter: invert(47%) sepia(95%) saturate(494%) hue-rotate(353deg) brightness(96%) contrast(98%);
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.about-us-title {
  color: #FFF;
  text-align: center;
  font-family: 'Poppins', Helvetica;
  font-size: 128px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 82.03125%;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .about-us-title {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', Helvetica;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 82.03125%;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .about-us-title {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', Helvetica;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 82.03125%;
  }
}


.about-pic-bg {
  border-radius: 30px;
  background: linear-gradient(81deg, #FFC096 0%, #FF7295 100%);
}

.camera-about-div {
  display: flex;
  width: 206.366px;
  height: 168.807px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  top: 0;
  left: 0;
  position: relative;
}

.notebook-about-div {
  display: flex;
  width: 226.804px;
  height: 270.178px;
  right: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  top: 27.4px;
  position: absolute;
}

.about-diag-1-div {
  width: 274px;
  height: 68px;
  flex-shrink: 0;
  top: 22px;
  left: 186px;
  position: absolute;
}

.about-diag1-inner {
  width: 274px;
  height: 51.846px;
  top: 0;
  left: 0;
  position: absolute;
}

.about-diag-text {
  color: #000;
  text-align: center;
  font-family: 'Poppins', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about-diag-2-div {
  width: 274px;
  height: 68px;
  flex-shrink: 0;
  top: 53px;
  right: 167px;
  position: absolute;
}

.about-diag-2 {
  width: 274px;
  height: 59px;
}

.about-diag2-inner {
  width: 274px;
  height: 51.846px;
  top: 0;
  left: 0;
  position: absolute;
}

.about-pics-div {
  width: 440.39px;
  height: 348.691px;
  flex-shrink: 0; 
  position: absolute;
  top: 102px;
  left: 239px;
}

.about-pic1 {
  display: flex;
  width: 234.037px;
  height: 291.135px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  top: 0;
  left: 0;
  position: absolute;
}

.about-pic2 {
  display: flex;
  width: 255.39px;
  height: 304.691px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.about-us-ques {
  color: #FFF;
  font-family: 'Poppins', Helvetica;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about-us-ans {
  color: #FFF;
  font-family: 'Poppins', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 648px;
}

@media (min-width: 1280px) and (max-width: 1360px) {
  .about-us-ques {
    color: #FFF;
    font-family: 'Poppins', Helvetica;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .about-us-ans {
    color: #FFF;
    font-family: 'Poppins', Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 648px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .about-us-ques {
    color: #FFF;
    font-family: 'Poppins', Helvetica;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .about-us-ans {
    color: #FFF;
    font-family: 'Poppins', Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 588px;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .about-us-ques {
    color: #FFF;
    font-family: 'Poppins', Helvetica;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .about-us-ans {
    color: #FFF;
    font-family: 'Poppins', Helvetica;
    font-size: 10px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 417px;
  }
}

.about-us-anonimo {
  width: 315px;
  height: 69.09px;
}

.about-us-star {
  width: 302px;
  height: 302px;
}

.about-us-rocket {
  width: 338.405px;
  height: 338.405px;
}

.feedbackcode-txt {
  color: #FFF;
  text-align: center;
  font-family: 'Poppins', Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: lowercase;
  width: 85.3476821%;
  max-width: 930px;
}

.form-title-txt {
  color: #FFF;
  text-align: center;
  font-family: "Poppins", Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: lowercase;
  width: 85.34%;
  max-width: 1031px;
}

.personal-info-txt {
  color: #000;
  font-family: "Satoshi-Medium";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.personal-info-txt2 {
  color: #9F9F9F;
  font-family: "Satoshi Variable";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.personal-info-txt3 {
  color: #000;
  font-family: "Satoshi Variable";
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
}

.personal-info-txt4 {
  color: #000;
  font-family: "Satoshi Variable";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-wrap: nowrap;
}

.personal-info-gray-circle {
  width: 17px;
  height: 15px;
  flex-shrink: 0;
  border-radius: 7.5px;
  border: 0.5px solid #9F9F9F;
  background: #E7E7E7;
}

.personal-info-txt5 {
  color: #9F9F9F;
  font-family: "Satoshi Variable";
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.56px;
  text-wrap: nowrap;
}

.personal-info-txt6 {
  color: #9F9F9F;
  font-family: "Satoshi Variable";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-wrap: nowrap;
}

.smol-box {
  border-radius: 12px;
  border: 1px solid #E7E7E7;
  background: #FFF;
}

.form-txt1 {
  color: #000;
  font-family: "Satoshi Variable";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form-placeholder {
  color: #9F9F9F;
  font-family: "Satoshi Variable";
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-txt2 {
  color: #9F9F9F;
  font-family: "Satoshi Variable";
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-astric {
  color: #C92F2F;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* InputBox.css */
.input-box {
  width: 100%;
  height: 32px;
  flex-shrink: 0;
  border-radius: 7px;
  border: 1px solid #9f9f9f;
  background: #fff;
  font-family: "Satoshi Variable";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
  padding: 0 8px;
}

.input-box::placeholder {
  color: #9f9f9f;
  font-weight: 400;
}

.input-box:focus {
  border: 2px solid #3f5eff;
  outline: none;
}

.input-box2 {
  width: 100%;
  height: 32px;
  flex-shrink: 0;
  border-radius: 7px;
  border: 1px solid #9f9f9f;
  background: #fff;
  font-family: "Satoshi Variable";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
  padding: 0 8px;
}

.input-box2::placeholder {
  color: #9f9f9f;
  font-weight: 400;
}

.input-box2:focus {
  border: 2px solid #3f5eff;
  outline: none;
}

.input-box2.invalid {
  border: 1px solid #ff0000;
}

.input-box2.invalid:focus {
  border: 2px solid #ff0000;
}

.next-step-txt {
  color: #FFF;
  font-family: "Satoshi Variable";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.form-cloud {
  width: 381px;
  height: 381px;
  flex-shrink: 0;
}

.form-pencil {
  width: 381px;
  height: 381px;
  flex-shrink: 0;
}

/* Base styles for screens below 640px */
.anonimo-navbar-logo {
  width: 70px;
  aspect-ratio: 84/23;
}

@media (min-width: 640px) and (max-width: 768px) {
  .anonimo-navbar-logo {
    width: 74px; 
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .anonimo-navbar-logo {
    width: 76px; 
  }
}

@media (min-width: 1024px) {
  .anonimo-navbar-logo {
    width: 84px;
  }
}

.nav-black-box {
  width: 84px;
  height: 35px;
  gap: 20px;
}

@media (min-width: 640px) and (max-width: 768px) {
  .nav-black-box {
    width: 93px;
    height: 41px;
    gap: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav-black-box {
    width: 103px;
    height: 45px;
    gap: 24px;
  }
}

@media (min-width: 1024px) {
  .nav-black-box {
    width: 123px;
    height: 51px;
    gap: 32px;
  }
}

.input-box3 {
  width: 100%;
  height: auto;
  max-height: 64px; /* 2 lines of text */
  overflow-y: auto;
  border-radius: 7px;
  border: 1px solid #9f9f9f;
  background: #fff;
  font-family: "Satoshi Variable";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
  padding: 8px;
  resize: none; /* Prevents resizing */
}

.input-box3::placeholder {
  color: #9f9f9f;
  font-weight: 400;
}

.input-box3:focus {
  border: 2px solid #3f5eff;
  outline: none;
}

.char-count {
  font-size: 10px;
  color: #9f9f9f;
  text-align: right;
  margin-top: 2px;
}


.image-upload-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
}

.image-upload-box {
  width: 100%;
  max-width: 600px;
  border: 2px dashed #d3d3d3;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  transition: height 0.2s ease;
  min-height: 150px;
  flex-wrap: wrap;
}

.image-upload-box.has-images {
  justify-content: flex-start;
  align-items: flex-start;
}

.image-upload-content {
  text-align: center;
}

.upload-icon {
  font-size: 32px;
  color: #999;
  margin-bottom: 8px;
}

.browse-button {
  background-color: #ff9695;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.browse-button:hover {
  background-color: #dd6968;
}

.selected-images-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.selected-image-item {
  position: relative;
  width: 100px;
  height: 100px;
}

.selected-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
}

.remove-image-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 2px;
}

.upload-more {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #d3d3d3;
  border-radius: 8px;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

.upload-more:hover {
  background-color: #f3f3f3;
}

.click-to-browse {
  color: #000;
  font-family: "Satoshi Variable";
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.browse-btn {
  border-radius: 4px;
  border: 1px solid #9F9F9F;
  background: #FFF;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.browse-btn:hover {
  background: #E7E8E7;
  color: #FFF;
}

.drop-img-txt {
  color: #9F9F9F;
  font-family: "Satoshi Variable";
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
